* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
  background-color: #fdf0f0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #1f4172;
  font-size: 1rem;
}
a:hover {
  color: #f1b4bb;
}
/*Header*/
header {
  position: sticky;
  padding: 0 2rem;
}
.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar .links {
  display: flex;
  gap: 2rem;
}
.navbar .toggle_btn {
  color: #132043;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.action_btn {
  background-color: #f1b4bb;
  color: #fdf0f0;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.action_btn:hover,
#hero .action_btn:hover {
  scale: 1.05;
  color: #fdf0f0;
}
.action_btn:active,
#hero .action_btn:active {
  scale: 0.95;
}
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(31, 65, 114, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
  height: 240px;
}
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
/*Hero*/
/*section#hero {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #132043;
}
#hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}*/
section#hero {
  height: 600px;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
section#hero img {
  width: 100%;
  height: 750px;
}
section#hero .hero-text {
  width: 80%;
  justify-content: center;
}
section#hero .hero-text h1 {
  font-size: 3.3rem;
  margin-bottom: 12px;
  color: #132043;
}
section#hero .hero-text p {
  font-size: 1.4rem;
  margin-bottom: 12px;
  color: #1f4172;
}

/*Responsive*/
@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
  section#hero {
    margin-top: 10px;
    flex-direction: column;
  }
  section#hero .hero-text {
    width: 100%;
    text-align: center;
  }
  section#hero .hero-text h1 {
    font-size: 3rem;
  }
}
@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
  section#hero .hero-text h1 {
    font-size: 2rem;
  }
}
